table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
border: 1px solid #444444;
}
.CourseTable{
    width: 90%;
    height: 500px;
    overflow: scroll;
}
